<template>
  <v-app>
    <!-- side-bar -->
    <SideBar @isClick="checkclick"></SideBar>

    <v-main>

      <!-- player card -->
      <v-container>
        <PlayerCard :WhichClick="WhichClick"></PlayerCard>
      </v-container>


    </v-main>
  </v-app>
</template>


<script setup>
import { ref } from 'vue'

// Components
import PlayerCard from '../components/PlayerCard.vue';
import SideBar from '../components/SideBar.vue'


const WhichClick = ref('')
const checkclick = (click) => {
  WhichClick.value = click


} 
</script>

<style lang="scss" scoped>
.container {
  width: 1200px;
}
</style>