<template>
    <v-card>
        <v-card-title>Expansion Panel Title</v-card-title>

        <v-expansion-panels>
            <v-expansion-panel title="123">
                <v-expansion-panel-text>

                    <v-card-text>
                        Content Goes Here
                    </v-card-text>
                </v-expansion-panel-text>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-card>
</template>