<template>
    <v-container>
        <v-row>
            <v-col cols="12" lg="3" sm="4" xs="6"  v-for="player in PlayerList" :key="player.name">

                <v-card class="text-center card">
                    <v-img :src="player.imgpath" height="250" class="abc"></v-img>

                    <v-card-title>
                        {{ player.name }}
                    </v-card-title>
                    <v-expansion-panels><v-expansion-panel title="詳細資料"><v-expansion-panel-text>
                                <v-card-text>
                                    年齡:{{ player.age }}
                                </v-card-text>

                                <v-card-text>
                                    身高:{{ player.hight }}
                                </v-card-text>

                                <v-card-text>
                                    體重:{{ player.weight }}
                                </v-card-text>

                                <v-card-text>
                                    打點:{{ player.spikehight }}
                                </v-card-text>

                                <v-card-text>
                                    攔網點:{{ player.blockhight }}
                                </v-card-text>

                                <v-card-text>
                                    位置: {{ player.position }}
                                </v-card-text>

                                <v-card-text>
                                    國家: {{ player.country }}
                                </v-card-text>

                            </v-expansion-panel-text></v-expansion-panel></v-expansion-panels>
                </v-card>

            </v-col>
        </v-row>
    </v-container>
</template>


<script setup>
import { defineProps, computed } from 'vue';



const Which = defineProps(['WhichClick'])
const PlayerList = computed(() => {
    if (Which.WhichClick == 'JapanPlayer')
        return JapanPlayer
    else if (Which.WhichClick == 'USAPlayer')
        return USAPlayer
    else if (Which.WhichClick == 'ArgentinaPlayer')
        return ArgentinaPlayer
    else if (Which.WhichClick == 'BrazilPlayer')
        return BrazilPlayer
    else
        return []
})
// const RowList=[]


const JapanPlayer = [// eslint-disable-line no-unused-vars
    { imgpath: 'https://volleybox.net/media/upload/players/1662472978R3iE9.png', name: '石川祐希', age: 27, hight: 192, weight: 84, spikehight: 351, blockhight: 327, position: '主攻手', country: '日本', },
    { imgpath: 'https://volleybox.net/media/upload/players/1676835182caJY4.png', name: '西田有志', age: 23, hight: 187, weight: 87, spikehight: 350, blockhight: 335, position: '副位', country: '日本', },
    { imgpath: 'https://volleybox.net/media/upload/players/1632325584F6kzU.png', name: '高橋藍', age: 21, hight: 188, weight: 82, spikehight: 343, blockhight: 315, position: '主攻手', country: '日本', },
    { imgpath: 'https://volleybox.net/media/upload/players/1674963068RP2eE.png', name: '關田誠大', age: 29, hight: 175, weight: 72, spikehight: 311, blockhight: 295, position: '舉球', country: '日本', },
]
const USAPlayer = [
    { imgpath: 'https://volleybox.net/media/upload/players/16547326387AQLe.png', name: 'Matt Anderson', age: 35, hight: 208, weight: 96, spikehight: 360, blockhight: 332, position: '副位', country: '美國', },
    { imgpath: 'https://volleybox.net/media/upload/players/1671904678in7hh.png', name: 'Taylor Sander', age: 30, hight: 193, weight: 80, spikehight: 358, blockhight: 330, position: '主攻手', country: '美國', },
    { imgpath: 'https://volleybox.net/media/upload/players/1671903911MLPw1.png', name: 'Micah Christenson', age: 29, hight: 198, weight: 88, spikehight: 349, blockhight: 340, position: '舉球', country: '美國', },
    { imgpath: 'https://volleybox.net/media/upload/players/15729680347yENs.png', name: 'Maxwell Holt', age: 35, hight: 205, weight: 90, spikehight: 351, blockhight: 333, position: '攔中', country: '美國', },
    { imgpath: 'https://volleybox.net/media/upload/players/16670872266tMCi.png', name: 'David Smith', age: 37, hight: 202, weight: 86, spikehight: 360, blockhight: 345, position: '攔中', country: '美國', },
]
const ArgentinaPlayer = [
    { imgpath: 'https://volleybox.net/media/upload/players/1670937105UIzZ4.png', name: 'Matías Sánchez', age: 26, hight: 173, weight: 64, spikehight: 304, blockhight: 282, position: '舉球', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1608994749c8UCC.png', name: 'Jan Martínez Franchi', age: 25, hight: 190, weight: 85, spikehight: 330, blockhight: 310, position: '主攻手', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1607908377V3uIV.png', name: 'Facundo Conte', age: 33, hight: 197, weight: 98, spikehight: 355, blockhight: 324, position: '主攻手', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1672113136DFLQ2.png', name: 'Agustín Loser', age: 25, hight: 197, weight: 77, spikehight: 335, blockhight: 310, position: '攔中', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1545161697Co1H4.png', name: 'Santiago Danani', age: 27, hight: 176, weight: 78, spikehight: 318, blockhight: 300, position: '自由', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1558916089OAos5.png', name: 'Bruno Lima', age: 27, hight: 198, weight: 85, spikehight: 341, blockhight: 320, position: '副位', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1602640851aH9aK.png', name: 'Ezequiel Palacios', age: 30, hight: 203, weight: 90, spikehight: 352, blockhight: 330, position: '主攻手', country: '阿根廷', },
    { imgpath: 'https://volleybox.net/media/upload/players/1666285672HV8Xo.png', name: 'Luciano De Cecco', age: 34, hight: 195, weight: 88, spikehight: 345, blockhight: 330, position: '舉球', country: '阿根廷', },
]
const BrazilPlayer = [
    { imgpath: 'https://volleybox.net/media/upload/players/16678345655DXtt.png', name: 'Bruno Rezende', age: 36, hight: 190, weight: 76, spikehight: 323, blockhight: 302, position: '舉球', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1672296073VF2kF.png', name: 'Wallace de Souza', age: 35, hight: 198, weight: 85, spikehight: 360, blockhight: 340, position: '主攻手', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1667556527S8Q2h.png', name: 'Yoandy Leal', age: 34, hight: 201, weight: 105, spikehight: 371, blockhight: 348, position: '主攻手', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1634597354gEr5x.png', name: 'Rodrigo Leão', age: 26, hight: 198, weight: 85, spikehight: 331, blockhight: 316, position: '主攻手', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1672111828FXk3g.png', name: 'Lucas Saatkamp', age: 36, hight: 210, weight: 101, spikehight: 340, blockhight: 321, position: '攔中', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1666971855xuM7x.png', name: 'Thales Hoss', age: 34, hight: 190, weight: 80, spikehight: 320, blockhight: 303, position: '自由', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1671820834ApqB1.png', name: 'Ricardo Lucarelli Souza', age: 31, hight: 196, weight: 90, spikehight: 355, blockhight: 340, position: '主攻手', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1666500646Mqsl4.png', name: 'Flávio Gualberto', age: 29, hight: 200, weight: 84, spikehight: 356, blockhight: 340, position: '攔中', country: '巴西', },
    { imgpath: 'https://volleybox.net/media/upload/players/1671820632jpW6v.png', name: 'Leandro Santos', age: 30, hight: 200, weight: 100, spikehight: 355, blockhight: 320, position: '攔中', country: '巴西', },
    { imgpath: '', name: '????', age: '???', hight: '???', weight: '???', spikehight: '???', blockhight: '???', position: '???', country: '???', },

]



</script>

<style lang="scss" scoped>
.card {
    border: 1px solid black;
    border-radius: 20px;

    &:hover {
        transition: 0.5s ease;
        transform: scale(1.1);
    }

}
</style>