<template>
    <!-- nav side bar,hover -->
    <v-navigation-drawer expand-on-hover rail>

        <v-list>

            <v-list-item prepend-avatar="https://cdn-icons-png.flaticon.com/512/5496/5496293.png">
                <v-list-item-content>
                    <v-list-item-title>各國選手資料</v-list-item-title>
                    <v-list-item-subtitle>請點選國籍</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <!-- 分界線 -->
        <v-divider></v-divider>


        <v-list density="compact" nav>

            <v-list-item prepend-avatar="https://cdn-icons-png.flaticon.com/512/197/197604.png" value="Japan"
                @click="isClick('JapanPlayer')">
                <v-list-item-content>
                    <v-list-item-title>日本</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item prepend-avatar="https://cdn-icons-png.flaticon.com/512/3909/3909383.png" value="USA"
                @click="isClick('USAPlayer')">
                <v-list-item-content>
                    <v-list-item-title>美國</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item prepend-avatar="https://cdn-icons-png.flaticon.com/512/3909/3909430.png" value="Argentina"
                @click="isClick('ArgentinaPlayer')">
                <v-list-item-content>
                    <v-list-item-title>阿根廷</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item prepend-avatar="https://cdn-icons-png.flaticon.com/512/197/197386.png" value="Brazil"
                @click="isClick('BrazilPlayer')">
                <v-list-item-content>
                    <v-list-item-title>巴西</v-list-item-title>123123123
                </v-list-item-content>
            </v-list-item>

        </v-list>
        <!-- 分界線 -->
        <v-divider></v-divider>
    </v-navigation-drawer>
</template>

<script setup>
import { defineEmits } from 'vue';

const emits = defineEmits(['isClick'])
const isClick = (click) => {
    emits("isClick", click)
}
</script>